.products-pre-title {
  margin-bottom: 15px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section__title {
  // font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  margin-top: 148px;
  margin-bottom: 0px;
  padding: 0;

  gap: 140px;

  @media screen and (min-width: 768px) {
    margin-top: 158px;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 281px;
    gap: 32px;
  }
}

.products__item {
  max-width: 100%;
  min-height: 489px;
  @media screen and (min-width: 768px) {
    max-width: calc((100% - 16px * 2) / 3);
  }
  @media screen and (min-width: 1200px) {
    // max-width: calc((100% - 32px * 2) / 3);
    max-width: 368px;
  }
}

.products__card {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  max-width: 280px;

  padding: 160px 39px 40px 41px;

  border-radius: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    padding: 118px 32px 40px 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 63px 60px 64px;
  }
}

.products__icon-ice-cream {
  background-color: #ffb8ca;
}

.products__icon-ice-coffee {
  background-color: #f0d1a5;
  font-size: 12px;
}

.products__icon-milkshakes {
  background-color: #c2e297;
}

.products__card::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  // width: 100%;
  width: 280px;
  height: 280px;
  background-size: cover;

  @media screen and (min-width: 768px) {
    top: -30px;
    width: 224px;
    height: 224px;
  }

  @media screen and (min-width: 1200px) {
    top: -60px;
    width: 368px;
    height: 394px;
  }
}

.products__icon-ice-cream::before {
  background-image: url('../images/products-280/product1-280.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products-280/product1-280@2x.png');
  }

  @media screen and (min-width: 321px) {
    background-image: url('../images/products-tablet/product1-224.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-tablet/product1-224@2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/products-desktop/product1-368.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-desktop/product1-368@2x.png');
    }
  }
}

.products__icon-ice-coffee::before {
  background-image: url('../images/products-280/product2-280.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products-280/product2-280@2x.png');
  }
  @media screen and (min-width: 321px) {
    background-image: url('../images/products-tablet/product2-224.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-tablet/product2-224@2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/products-desktop/product2-368.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-desktop/product2-368@2x.png');
    }
  }
}

.products__icon-milkshakes::before {
  background-image: url('../images/products-280/product3-280.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products-280/product3-280@2x.png');
  }

  @media screen and (min-width: 321px) {
    background-image: url('../images/products-tablet/product3-224.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-tablet/product3-224@2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/products-desktop/product3-368.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products-desktop/product3-368@2x.png');
    }
  }
}

.products__title {
  margin: 0;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;

  margin: 32px auto;
  background-image: url('../images/points.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.products__description,
.products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.products__description {
  margin-bottom: 32px;
}

.products__btn1,
.products__btn2,
.products__btn3 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  padding: 0;

  cursor: pointer;

  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 300ms linear;

  &:hover,
  &:focus {
    background-color: #aaaaaa;
  }

  & .icon-arrow-close {
    opacity: 0;
    visibility: hidden;
    // transition: all 500ms linear;
  }

  &.is-open .icon-arrow-close {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1000ms linear;
  }
  &.is-open .icon-arrow-open {
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms linear;
  }
  & .icon-arrow-open {
    opacity: 1;
    visibility: visible;
    transition: all 1000ms linear;
  }
}

.icon-arrow {
  display: block;
  width: 30%;
  height: 30%;
  fill: #d41443;
}

.products__article1,
.products__article2,
.products__article3 {
  display: none;
}

// .b-show {
//   display: block;
//   animation: showBlock 1s linear forwards;
// }

// @keyframes showBlock {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.products__article1,
.products__article2,
.products__article3 {
  opacity: 1;
  margin-top: 25px;
}

.products__consist-list {
  text-align: left;
  padding-left: 10px;
  list-style: square;
}
